PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://campgoofficial_db_user:BlueLagoon12345@cluster0.fkufcsc.mongodb.net/blue_lagoon_resort?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
JWT_SECRET=replace_with_a_long_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
